<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Time</title>
</head>
<body>
    <div class="giua">
        <h3 id="nt"></h3>
        <div class="btn-group">
            <a href="/time/day" class="btn btn-primary">Day</a>
        </div>
    </div>
    <script>
        var today = new Date();
        var date = today.getFullYear() + '/' + (today.getMonth() + 1) + '/' + today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var dateTime = 'Ngày: ' + date + '<br> Giờ: ' + time;
     
        document.getElementById("nt").innerHTML = dateTime;
    </script>
</body>
</html>